@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?12a402655594360aa1e0ad772593881d") format("truetype"),
url("../fonts/flaticon.woff?12a402655594360aa1e0ad772593881d") format("woff"),
url("../fonts/flaticon.woff2?12a402655594360aa1e0ad772593881d") format("woff2"),
url("../fonts/flaticon.eot?12a402655594360aa1e0ad772593881d#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?12a402655594360aa1e0ad772593881d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body
{
  background: #000e29;
}

.alert>.start-icon {
    margin-right: 0;
    min-width: 20px;
    text-align: center;
}

.alert>.start-icon {
    margin-right: 5px;
}

.greencross
{
  font-size:18px;
      color: #25ff0b;
    text-shadow: none;
}

.alert-simple.alert-success
{
  border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
  text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}
.alert-success:hover{
  background-color: rgba(7, 149, 66, 0.35);
  transition:0.5s;
}
.alert-simple.alert-info
{
  border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12156862745098039);
    box-shadow: 0px 0px 2px #0396ff;
    color: #0396ff;
  text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-info:hover
{
  background-color: rgba(7, 73, 149, 0.35);
  transition:0.5s;
}

.blue-cross
{
  font-size: 18px;
    color: #0bd2ff;
    text-shadow: none;
}

.alert-simple.alert-warning
{
      border: 1px solid rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #ffb103;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-warning:hover{
  background-color: rgba(220, 128, 1, 0.33);
  transition:0.5s;
}

.warning
{
      font-size: 18px;
    color: #ffb40b;
    text-shadow: none;
}

.alert-simple.alert-danger
{
  border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-danger:hover
{
     background-color: rgba(220, 17, 1, 0.33);
  transition:0.5s;
}

.danger
{
      font-size: 18px;
    color: #ff0303;
    text-shadow: none;
}

.alert-simple.alert-primary
{
  border: 1px solid rgba(6, 241, 226, 0.81);
    background-color: rgba(1, 204, 220, 0.16);
    box-shadow: 0px 0px 2px #03fff5;
    color: #03d0ff;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-primary:hover{
  background-color: rgba(1, 204, 220, 0.33);
   transition:0.5s;
}

.alertprimary
{
      font-size: 18px;
    color: #03d0ff;
    text-shadow: none;
}

.square_box {
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 45px;
    opacity: 0.302;
}

.square_box.box_three {
    background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    opacity: 0.059;
    left: -80px;
    top: -60px;
    width: 500px;
    height: 500px;
    border-radius: 45px;
}

.square_box.box_four {
    background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    opacity: 0.059;
    left: 150px;
    top: -25px;
    width: 550px;
    height: 550px;
    border-radius: 45px;
}





.flaticon-facebook:before {
    content: "\f101";
}
.flaticon-twitter:before {
    content: "\f102";
}
.flaticon-instagram:before {
    content: "\f103";
}
.flaticon-linkedin:before {
    content: "\f104";
}
.flaticon-clock-circular-outline:before {
    content: "\f105";
}
.flaticon-email:before {
    content: "\f106";
}
.flaticon-location-pin:before {
    content: "\f107";
}
.flaticon-align-left:before {
    content: "\f108";
}
.flaticon-skills:before {
    content: "\f109";
}
.flaticon-chemical-reaction:before {
    content: "\f10a";
}
.flaticon-padlock:before {
    content: "\f10b";
}
.flaticon-holding-hands:before {
    content: "\f10c";
}
.flaticon-support:before {
    content: "\f10d";
}
.flaticon-sales:before {
    content: "\f10e";
}
.flaticon-customer-support:before {
    content: "\f10f";
}
.flaticon-shopping-cart:before {
    content: "\f110";
}
.flaticon-star:before {
    content: "\f111";
}
.flaticon-quotation-right-mark:before {
    content: "\f112";
}
.flaticon-customer-satisfaction:before {
    content: "\f113";
}
.flaticon-businessman:before {
    content: "\f114";
}
.flaticon-headphones:before {
    content: "\f115";
}
.flaticon-location:before {
    content: "\f116";
}
.flaticon-paper-plane:before {
    content: "\f117";
}
.flaticon-search:before {
    content: "\f118";
}
.flaticon-like:before {
    content: "\f119";
}
.flaticon-eye:before {
    content: "\f11a";
}
.flaticon-phone-call:before {
    content: "\f11b";
}
.flaticon-building:before {
    content: "\f11c";
}
.flaticon-fair-trade:before {
    content: "\f11d";
}
.flaticon-car-repair:before {
    content: "\f11e";
}
.flaticon-star-1:before {
    content: "\f11f";
}
.flaticon-appointment:before {
    content: "\f120";
}
.flaticon-eye-scan:before {
    content: "\f121";
}
.flaticon-project-management:before {
    content: "\f122";
}
.flaticon-problem-solving:before {
    content: "\f123";
}
.flaticon-play-button:before {
    content: "\f124";
}
.flaticon-money-bag:before {
    content: "\f125";
}
.flaticon-windows-logo:before {
    content: "\f126";
}
.flaticon-smartphone:before {
    content: "\f127";
}
.flaticon-sports-car:before {
    content: "\f128";
}
.flaticon-mobile-password:before {
    content: "\f129";
}
.flaticon-wheel:before {
    content: "\f12a";
}
.flaticon-diagram:before {
    content: "\f12b";
}
.flaticon-engine-oil:before {
    content: "\f12c";
}
.flaticon-connection:before {
    content: "\f12d";
}
.flaticon-virus:before {
    content: "\f12e";
}
.flaticon-smartphone-1:before {
    content: "\f12f";
}
.flaticon-car-repair-1:before {
    content: "\f130";
}
.flaticon-map:before {
    content: "\f131";
}
.flaticon-wheel-1:before {
    content: "\f132";
}
.flaticon-car-engine:before {
    content: "\f133";
}
.flaticon-sitemap:before {
    content: "\f134";
}
.flaticon-keyboard-buttons-or-visualization-button-of-nine-squares:before {
    content: "\f135";
}
.flaticon-list:before {
    content: "\f136";
}
.flaticon-setting:before {
    content: "\f137";
}
.flaticon-heart:before {
    content: "\f138";
}
.flaticon-upload-big-arrow:before {
    content: "\f139";
}
.flaticon-warning:before {
    content: "\f13a";
}
.flaticon-warning-1:before {
    content: "\f13b";
}
.flaticon-star-2:before {
    content: "\f13c";
}
.flaticon-protection-shield-with-a-check-mark:before {
    content: "\f13d";
}
.flaticon-phone-receiver-silhouette:before {
    content: "\f13e";
}
.flaticon-email-1:before {
    content: "\f13f";
}
.flaticon-next:before {
    content: "\f140";
}
.flaticon-grid:before {
    content: "\f141";
}
.flaticon-nanotechnology:before {
    content: "\f142";
}
.flaticon-calendar:before {
    content: "\f143";
}
.flaticon-user:before {
    content: "\f144";
}
.flaticon-pinterest:before {
    content: "\f145";
}
.flaticon-youtube:before {
    content: "\f146";
}
.flaticon-left-quote:before {
    content: "\f147";
}
.flaticon-like-1:before {
    content: "\f148";
}
